*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
}

h1, p {
    padding: 1rem;
}

header {
    width: 100%;
    clear: both;
    display: table;    
    position: sticky;
	top: 0;
	z-index: 5;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 0px 0px rgba(53, 11, 31, 0.795);
}

.menu {
    width: 100%;
    
}


img {
    width: 80px;
    float: left;
    padding: 2px;
    margin-left: 2rem;
}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    margin: 25px;
    float: left;
    padding: 8
    px 0;
}

nav ul li a {
    text-decoration: none;
}

ul {
    list-style-position: inside;
    list-style-type: circle;
}

li {
    padding: 10px;
}

/* Pantallas con imagenes ------------------------- */
.pantalla1 {
    background-image: url("../img/pantalla1.webp");
    position: relative;
	width: 100%;
	height: 35rem;
    background-size: cover;
    background-repeat: no-repeat; 
	background-attachment: fixed;
	background-position: right;
	z-index: 3;    
}

.pantalla2 {
    background-image: url("../img/pantalla2.webp");
    position: relative;
	width: 100%;
	height: 35rem;
    background-size: cover;
    background-repeat: no-repeat; 
	background-attachment: fixed;
	background-position: right;
	z-index: 3;    
}

/* Contenedores de pantallas -------------------------- */
.container {
	position: relative;
	padding: 0rem 1rem;
    width: 100%;
	height: 40rem;
}

.forma-h1 {
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: 3rem;
    color:white;
    text-shadow: 2px 2px grey;
    text-align: right;
    font-family: 'Shadows Into Light', ;
    
}


/* Botones ------------------------------------------------*/
.boton {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	width: 100%;
	margin: 2rem 0rem;
	padding: 1rem 0rem;
	border: none;
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	font-weight: 900;
	line-height: 1.375rem;
	color: hwb(0 97% 2%);
	background-color: #350B1F;
	-webkit-transition: 0.45s;
	transition: 0.45s;
    
}
.boton:hover {
	color: #ffffff;
	background-image: linear-gradient(70deg, #AAB5AD, #022144);
	box-shadow: 4px 4px 0px 0px rgba(148, 220, 198, 0.795);
}