*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
}

html{
    scroll-behavior: smooth;
    /* cuando nos lleva a un ancla lo hace delicadamente */
}


h1, p {
    padding: 1rem;
}

header {
    width: 100%;
    clear: both;
    display: table;    
    position: sticky;
	top: 0;
	z-index: 5;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 0px 0px rgba(53, 11, 31, 0.795);
}

.menu {
    width: 100%;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


img {
    width: 80px;
    float: left;
    padding: 2px;
    margin-left: 2rem;
}

nav {
    float: right;
}
nav a{
    color: #495057;
}
/* EFECTO NAV */
nav :hover{
    background:#495057;
    color:#ffffff;
    border-radius: 5px;
}

nav ul li {
    list-style: none;
    margin: 25px;
    float: left;
    padding: 8
    px 0;
}

nav ul li a {
    text-decoration: none;
}

ul {
    list-style-position: inside;
    list-style-type: circle;
}

li {
    padding: 10px;
}

/* Pantallas con imagenes ------------------------- */
.pantalla1 {
    background-image: url("../img/pantalla1.webp");
    position: relative;
	width: 100%;
	height: 45rem;
    background-size: cover;
    background-repeat: no-repeat; 
	background-attachment: fixed;
	background-position: right;
	z-index: 3;    
}

.pantalla2 {
    background-image: url("../img/pantalla2.webp");
    position: relative;
	width: 100%;
	height: 45rem;
    background-size: cover;
    background-repeat: no-repeat; 
	background-attachment: fixed;
	background-position: right;
	z-index: 3;    
}

.pantalla3 {
    background-image: url("../img/pantalla2.webp");
    position: relative;
	width: 100%;
	height: 45rem;
    background-size: cover;
    background-repeat: no-repeat; 
	background-attachment: fixed;
	background-position: right;
	z-index: 3;    
}

.pantalla4 {
    background-image: url("../img/pantalla2.webp");
    position: relative;
	width: 100%;
	height: 45rem;
    background-size: cover;
    background-repeat: no-repeat; 
	background-attachment: fixed;
	background-position: right;
	z-index: 3;    
}






/* Contenedores de pantallas -------------------------- */
.container {
	position: relative;
	padding: 0rem 1rem;
    width: 100%;
	height: auto;
}

.forma-h1 {
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: 3rem;
    color:whitesmoke;
    text-shadow: 2px 2px grey;
    text-align: right;
    font-family: 'Shadows Into Light', ;   
}


#acordeon {
    margin: 40px auto;
    width: 100%;
    min-height: 50px;
    background-color: gainsboro;
    border-radius: 5px;
}

.subapartado {
    width: 100%;
    min-height: 50px;
    background-color: #6A8380;
}

.cabecera {
    width: 100%;
    height: 50px;
    background-color: #AAB5AD;
    overflow: hidden;
    border-bottom: 2px solid #6A8380;;
}

.titulo {
    margin: auto;
}

.info {
    width: 100%;
    height: 0px;
    background-color: gainsboro;
    overflow: hidden;
    transition: height 0.2s;
}

.datos {
    margin: 5px;
    text-align: justify;
    color: #022144;
}

.subapartado:hover {
    color: darkcyan; 
 }
 
 .subapartado:hover .info {
     height: 180px;    
 }


/* Botones ------------------------------------------------*/
.boton {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	width: 100%;
	margin: 2rem 0rem;
	padding: 1rem 0rem;
	border: none;
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	font-weight: 900;
	line-height: 1.375rem;
	color: hwb(0 97% 2%);
	background-color: #350B1F;
	-webkit-transition: 0.45s;
	transition: 0.45s;
    
}
.boton:hover {
	color: #ffffff;
	background-image: linear-gradient(70deg, #AAB5AD, #022144);
	box-shadow: 4px 4px 0px 0px rgba(148, 220, 198, 0.795);
}






/* FOOTER  ---------------------------------------------------------------------------- */


footer{ 
    background-color: #6A8380;
    /* Despues vemos tema color */
    height: 150px;
}

.container_footer{
    display: flex;
    justify-content:space-between;
    align-items:center;
}

footer p{
    margin: 50px;
    padding: 0px;
    color: rgb(247, 235, 235);
}

footer a{
    text-decoration: none;
    /* saca el subrayado */
}


/* href */
a:link {color: #030303;} /*Color del link*/
a:hover {background-color: rgba(84, 87, 84, 0.315); color: rgb(208, 223, 210);} /*Cuando paso mouse por arriba*/
a:visited {color: rgba(0, 0, 0, 0.466);} /*Una vez visitado*/
a:active {background-color: rgb(94, 55, 86); color: rgb(66, 94, 145);} /*Cuando doy click*/

/* Color al querer copy/paste de texto */
p::selection{background-color: rgba(146, 74, 136, 0.315);}
li::selection{background-color: rgba(146, 74, 136, 0.315);}


